<app-alert-list></app-alert-list>
<div class="min-w-screen min-h-screen bg-gray-900 flex items-center justify-center px-5 py-5" [formGroup]="form">
  <div class="bg-gray-100 text-gray-500 rounded-3xl shadow-xl w-full overflow-hidden" style="max-width: 1000px">
    <div class="md:flex w-full">
      <div class="hidden md:block w-1/2 bg-indigo-500 py-10 px-10">
        <auth-sketch></auth-sketch>
      </div>
      <div class="w-full md:w-1/2 py-10 px-5 md:px-10">
        <div class="text-center mb-10">
          <img
            src="../../../../../assets/logo/5459292661_c1ba44cb-3cc1-4278-ae0d-d812fcfa29f9.png"
            class="h-16 mx-auto cursor-pointer"
            alt="logo"
            routerLink="/dashboard"
          />
          <p>Enter your information to sign up</p>
        </div>
        <div>
          <div class="flex -mx-3">
            <div class="w-1/2 px-3 mb-5">
              <label for="firstName" class="text-xs font-semibold px-1">First name</label>
              <div class="flex">
                <div class="w-10 z-10 pl-1 text-center pointer-events-none flex items-center justify-center">
                  <i class="mdi mdi-account-outline text-gray-400 text-lg"></i>
                </div>
                <input
                  formControlName="firstName"
                  id="firstName"
                  type="text"
                  class="w-full -ml-10 pl-10 pr-3 py-2 rounded-lg border-2 border-gray-200 outline-none focus:border-indigo-500"
                  placeholder="John"
                />
              </div>
            </div>
            <div class="w-1/2 px-3 mb-5">
              <label for="lastName" class="text-xs font-semibold px-1">Last name</label>
              <div class="flex">
                <div class="w-10 z-10 pl-1 text-center pointer-events-none flex items-center justify-center">
                  <i class="mdi mdi-account-outline text-gray-400 text-lg"></i>
                </div>
                <input
                  formControlName="lastName"
                  id="lastName"
                  type="text"
                  class="w-full -ml-10 pl-10 pr-3 py-2 rounded-lg border-2 border-gray-200 outline-none focus:border-indigo-500"
                  placeholder="Smith"
                />
              </div>
            </div>
          </div>
          <div class="flex -mx-3">
            <div class="w-full px-3 mb-5">
              <label for="email" class="text-xs font-semibold px-1">Email</label>
              <div class="flex">
                <div class="w-10 z-10 pl-1 text-center pointer-events-none flex items-center justify-center">
                  <i class="mdi mdi-email-outline text-gray-400 text-lg"></i>
                </div>
                <input
                  formControlName="email"
                  id="email"
                  type="email"
                  class="w-full -ml-10 pl-10 pr-3 py-2 rounded-lg border-2 border-gray-200 outline-none focus:border-indigo-500"
                  placeholder="johnsmith@example.com"
                />
              </div>
            </div>
          </div>
          <div class="flex -mx-3">
            <div class="w-full px-3 mb-3">
              <label for="password" class="text-xs font-semibold px-1">Password</label>
              <div class="flex">
                <div class="w-10 z-10 pl-1 text-center pointer-events-none flex items-center justify-center">
                  <i class="mdi mdi-lock-outline text-gray-400 text-lg"></i>
                </div>
                <input
                  formControlName="password"
                  id="password"
                  type="password"
                  class="w-full -ml-10 pl-10 pr-3 py-2 rounded-lg border-2 border-gray-200 outline-none focus:border-indigo-500"
                  placeholder="************"
                />
              </div>
            </div>
          </div>
          <div class="flex items-center justify-center -mx-3 mb-6">
            <p>
              Already have an account? Click
              <a class="text-indigo-500" routerLink="/auth/login">here to login!</a>
            </p>
          </div>
          <div class="flex -mx-3">
            <div class="w-full px-3 mb-5">
              <button
                class="
                  block
                  w-full
                  max-w-xs
                  mx-auto
                  bg-indigo-600
                  hover:bg-indigo-700
                  focus:bg-indigo-700
                  disabled:opacity-70 disabled:bg-indigo-600 disabled:cursor-default
                  text-white
                  rounded-lg
                  px-3
                  py-3
                  font-semibold
                "
                [disabled]="form.invalid"
                (click)="registerSubmit.emit()"
              >
                REGISTER NOW
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
